<app-navbar-admin *ngIf="role === 'admin'"></app-navbar-admin>
<app-navbar-student *ngIf="role === 'student'"></app-navbar-student>
<app-navbar-teacher *ngIf="role === 'teacher'"></app-navbar-teacher>
<br />

<div class="container bootstrap snippets bootdey">
  <h1 class="text-center text-primary title">Schedule of Classes</h1>
  <hr class="divider-title" />
  <div class="row">
    <div class="col-ms-10 col-md-4" *ngFor="let class of classes">
      <div class="project">
        <figure class="img-responsive">
          <img
            src="https://us.123rf.com/450wm/flynt/flynt1401/flynt140100395/25087860-mois-et-dates-indiqu%C3%A9es-sur-le-calendrier-tout-en-tournant-les-pages.jpg?ver=6"
          />
          <figcaption>
            <span class="project-details">className :{{ class.name }}</span>
          </figcaption>
          <span class="actions">
            <button
              class="btn btn-warning bnt-action"
              (click)="getschedule(class.name)"
              type="submit"
            >
              View
            </button>
          </span>
        </figure>
      </div>
    </div>
  </div>
</div>
